services:

    php:
        build:
            context: ./php
        container_name: fintech-php
        working_dir: /var/www/html
        volumes:
            - ../:/var/www/html
            - ./php/php.ini:/usr/local/etc/php/conf.d/custom.ini
        networks:
            - appnet
        depends_on:
            - db

    nginx:
        image: nginx:stable
        container_name: fintech-nginx
        ports:
            - "8080:80"
        volumes:
            - ../:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        networks:
            - appnet
        depends_on:
            - php

    db:
        image: postgres:15
        container_name: fintech-postgres
        environment:
            POSTGRES_DB: symfony
            POSTGRES_USER: symfony
            POSTGRES_PASSWORD: symfony
        ports:
            - "5432:5432"
        networks:
            - appnet
        volumes:
            - pgdata:/var/lib/postgresql/data

    adminer:
        image: adminer
        container_name: fintech-adminer
        ports:
            - "8081:8080"
        networks:
            - appnet
    redis:
        image: redis:7
        container_name: fintech-redis
        ports:
            - "6379:6379"
volumes:
    pgdata:

networks:
    appnet:
        driver: bridge
